/*
Copyright 2017 New Vector Ltd.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_TagPanel {
    flex: 1;
    background-color: $tagpanel-bg-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 0;
}

.mx_TagPanel .mx_TagPanel_clearButton_container {
    /* Constant height within flex mx_TagPanel */
    height: 70px;
    width: 60px;

    flex: none;

    justify-content: center;
    align-items: flex-start;

    display: none;
}

.mx_TagPanel .mx_TagPanel_clearButton object {
    /* Same as .mx_SearchBox padding-top */
    margin-top: 24px;
    pointer-events: none;
}

.mx_TagPanel .mx_TagPanel_divider {
    height: 0px;
    width: 42px;
    border-bottom: 1px solid $panel-divider-color;
    display: none;
}

.mx_TagPanel .mx_TagPanel_scroller {
    flex-grow: 1;
    width: 100%;
}

.mx_TagPanel .mx_TagPanel_tagTileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
}
.mx_TagPanel .mx_TagPanel_tagTileContainer > div {
    height: 40px;
    padding: 10px 0 9px 0;
}

.mx_TagPanel .mx_TagTile {
    margin: 9px 0;
    // opacity: 0.5;
    position: relative;
}
.mx_TagPanel .mx_TagTile:focus,
.mx_TagPanel .mx_TagTile:hover,
.mx_TagPanel .mx_TagTile.mx_TagTile_selected {
    // opacity: 1;
}

.mx_TagPanel .mx_TagTile_allCommunities {
    margin-bottom: 12px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: $roomheader-addroom-bg-color;
    position: relative;
    /* overwrite mx_RoleButton inline-block */
    display: block !important;

    &::after {
        background-color: $roomheader-addroom-fg-color;
        mask-image: url('$(res)/img/feather-customised/grid.svg');
        mask-position: center;
        mask-repeat: no-repeat;
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.mx_TagPanel .mx_TagTile.mx_TagTile_selected::before {
    content: '';
    height: calc(100% + 16px);
    background-color: $accent-color;
    width: 5px;
    position: absolute;
    left: -15px;
    border-radius: 0 3px 3px 0;
    top: -8px; // (16px from height / 2)
}

.mx_TagPanel .mx_TagTile.mx_AccessibleButton:focus {
    filter: none;
}

.mx_TagTile_tooltip {
    position: relative;
    top: -30px;
    left: 5px;
}

.mx_TagTile_context_button {
    min-width: 15px;
    height: 15px;
    position: absolute;
    right: -5px;
    top: -8px;
    border-radius: 8px;
    background-color: $neutral-badge-color;
    color: #000;
    font-weight: 600;
    font-size: $font-10px;
    text-align: center;
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

.mx_TagTile_avatar {
    position: relative;
}

.mx_TagTile_badge {
    position: absolute;
    right: -4px;
    top: -2px;
    border-radius: 8px;
    color: $accent-fg-color;
    font-weight: 600;
    font-size: $font-14px;
    padding: 0 5px;
    background-color: $roomtile-name-color;
}

.mx_TagTile_badgeHighlight {
    background-color: $warning-color;
}
