.mx_RoomView_body .mx_RoomView_timeline {
    background-color: #dfe4e8;
    background-image: url('$(res)/themes/telegram/img/bg_default.png');
}
.mx_RoomSubList_badge > div, .mx_RoomTile_unreadNotify .mx_RoomTile_badge {
    background-color: $roomtile-badge-bg-color;
}
.mx_RoomSubList_scroll {
    padding: 0;
}

.nv_RoomView_messagePanel_useStraitLayout.nv_RoomView_direct {
    .mx_EventTile_messageIn .mx_EventTile_line {
        margin-left: 0;
    }
    .mx_EventTile_messageIn .mx_EventTile_avatar {
        display: none;
    }
}


.nv_RoomView_messagePanel_useStraitLayout {
    .mx_EventTile_messageOut .mx_EventTile_avatar {
        display: none;
    }
    .mx_EventTile_messageOut {
        flex-direction: row-reverse;
    }
    .mx_EventTile .mx_ReactionsRow {
        justify-content: flex-end;
    }
    .mx_EventTile_droplet.mx_EventTile_messageOut .mx_EventTile_line {
        &::before {
            clip-path: url('#right-droplet');
            left: initial;
            right: -10px;
        }
        &::after {
            left: initial;
            right: -7px;
        }
    }
    .mx_EventTile_message:hover {
        .mx_MessageActionBar {
            visibility: visible;
            left: -85px;
            right: initial;

        }
    }
}

.mx_EventTile_file {
    .mx_EventTile_line {
        min-width: 268px;
    }
    .mx_SenderProfile_wrapper {
        margin-bottom: 9px;
    }
    &.mx_EventTile_continuation .mx_SenderProfile_wrapper{
        margin-bottom: 0;
    }
    .mx_MFileBody {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        &::before {
            -webkit-mask-box-image: url('$(res)/themes/telegram/img/icon-media-file-invert.svg');
            content: '';
            width: 44px;
            height: 44px;
            border-radius: 33px;
            display: block;
        }
    }
    .mx_MFileBody_download {
        margin-left: 11px;
        padding: 6px 0;
        font-size: 13px;
        line-height: 13px;
    }
    .mx_MFileBody_download > a, .mx_MFileBody_downloadLink {
        display: block;
        font-weight: 600;
        color: $primary-fg-color;
        margin-bottom: 6px;
    }
    .mx_MImageBody_size {
        color: #98a2aa;
    }
};

.mx_EventTile_messageOut {
    .mx_MFileBody::before {
        background-color: #5dc452;
    }
}

.mx_EventTile_messageIn {
    .mx_MFileBody::before {
        background-color: $accent-color;
    }
}

.mx_AutoHideScrollbar {
    scrollbar-width: 4px;

}

// or fallback for webkit browsers
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
.mx_RoomList_archivedShadow {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000;
        opacity: 0;
        z-index: 100;
        transition: opacity 0.2s, visibility 0.2s 0s;
        visibility: hidden;
}
.mx_RoomList_archivedShadowVisible {
    visibility: visible;
    opacity: 0.3;
    //opacity: 0.3;
}

.mx_RoomSubList .mx_AutoHideScrollbar {
    overflow: hidden;
}

.mx_RoomSubList .mx_AutoHideScrollbar:hover {
    overflow-y: auto;
    overflow-y: overlay;
}

.mx_RoomSubList:not(.resized-all) > .mx_RoomSubList_scroll.mx_IndicatorScrollbar_topOverflow::before, .mx_RoomSubList:not(.resized-all) > .mx_RoomSubList_scroll.mx_IndicatorScrollbar_bottomOverflow::after {
    height: 0;
    //display: none;
}
.mx_ForwardMessage {
    margin: auto;
    height: 52px;
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0 10px 0 19px;
    &::before {
        display: block;
        content: url('$(res)/themes/telegram/img/icon-reply.svg');
        margin-right: 13px;
    }
    & h1 {
        margin: 0;
        font-size: 13px;
    }
}

.mx_RightPanel {
    overflow: hidden;
    max-width: 550px;
}

.mx_RoomHeader_avatar .nv_BridgedIcon {
    height: 12px;
    width: 12px;
    display: block;
    position: absolute;
    bottom: 0;
    right: -3px;
    z-index: 1;
    margin: 0;
}

.mx_RoomBreadcrumbs .mx_RoomBreadcrumbs_crumb .mx_RoomTile_badge {
    background-color: $roomtile-badge-bg-color;
    font-size: 10px;
    height: 14px;
    min-width: 14px;
}

.mx_RoomBreadcrumbs {
    border-top: 1px solid $panel-divider-color;
    border-bottom: 1px solid $panel-divider-color;
}

.mx_MImageBody {
    margin-right: 0;
}

.mx_ReplyThread_wrapper {
    margin-left: 14px;
}

.mx_EventTile_line .mx_ReplyThread_wrapper {
    margin-left: 0;
}
