/*
Copyright 2015, 2016 OpenMarket Ltd

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

.mx_RoomHeader {
    flex: 0 0 52px;
    border-bottom: 1px solid $primary-hairline-color;

    .mx_E2EIcon {
        margin: 0;
        position: absolute;
        bottom: -2px;
        right: -6px;
        height: 15px;
        width: 15px;
    }
}

.mx_RoomHeader_wrapper {
    margin: auto;
    height: 54px;
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0 10px 0 19px;
}

.mx_RoomHeader_spinner {
    flex: 1;
    height: 36px;
    padding-left: 12px;
    padding-right: 12px;
}

.mx_RoomHeader_textButton {
    @mixin mx_DialogButton;
    margin-right: 8px;
    margin-top: -5px;
}

.mx_RoomHeader_textButton:hover {
    @mixin mx_DialogButton_hover;
}

.mx_RoomHeader_textButton_danger {
    background-color: $warning-color;
}

.mx_RoomHeader_cancelButton {
    cursor: pointer;
    padding-left: 12px;
    padding-right: 12px;
}

.mx_RoomHeader_buttons {
    display: flex;
    background-color: $primary-bg-color;
    padding-right: 5px;
}

.mx_RoomHeader_info {
    display: flex;
    flex: 1;
    align-items: center;
}

.mx_RoomHeader_simpleHeader {
    line-height: $font-52px;
    color: $roomheader-color;
    font-size: $font-18px;
    font-weight: 600;
    overflow: hidden;
    margin-left: 63px;
    text-overflow: ellipsis;
    width: 100%;
}

.mx_RoomHeader_simpleHeader .mx_RoomHeader_cancelButton {
    float: right;
}

.mx_RoomHeader_simpleHeader .mx_RoomHeader_icon {
    margin-left: 14px;
    margin-right: 24px;
    vertical-align: -4px;
}

.mx_RoomHeader_name {
    flex: 0 1 auto;
    overflow: hidden;
    color: $roomheader-color;
    font-weight: 600;
    font-size: $font-18px;
    margin: 0 7px;
    border-bottom: 1px solid transparent;
    display: flex;
}

.mx_RoomHeader_nametext {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mx_RoomHeader_settingsHint {
    color: $settings-grey-fg-color !important;
}

.mx_RoomHeader_searchStatus {
    font-weight: normal;
    opacity: 0.6;
}

.mx_RoomHeader_name,
.mx_RoomHeader_avatar,
.mx_RoomHeader_avatarPicker,
.mx_RoomHeader_avatarPicker_edit,
.mx_RoomHeader_avatarPicker_remove {
    cursor: pointer;
}

.mx_RoomHeader_avatarPicker_remove {
    position: absolute;
    top: -11px;
    right: -9px;
}

.mx_RoomHeader_name:hover div:not(.mx_RoomHeader_editable) {
    color: $accent-color;
}

.mx_RoomHeader_placeholder {
    color: $settings-grey-fg-color !important;
}

.mx_RoomHeader_editable {
    border-bottom: 1px solid $strong-input-border-color !important;
    min-width: 150px;
    cursor: text;
}

.mx_RoomHeader_editable:focus {
    border-bottom: 1px solid $accent-color !important;
    outline: none;
    box-shadow: none;
}

.mx_RoomHeader_topic {
    flex: 1;
    color: $roomtopic-color;
    font-weight: 400;
    font-size: $font-13px;
    margin: 0 7px;
    margin-top: 4px; // to align baseline of topic with room name
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
    line-height: 1.2em;
    max-height: 2.4em;
}

.mx_RoomHeader_avatar {
    flex: 0;
    margin: 0 7px;
    position: relative;
}

.mx_RoomHeader_avatar .mx_BaseAvatar_image {
    object-fit: cover;
}

.mx_RoomHeader_avatarPicker {
    position: relative;
}

.mx_RoomHeader_avatarPicker_edit {
    position: absolute;
    left: 16px;
    top: 18px;
}

.mx_RoomHeader_avatarPicker_edit > label {
    cursor: pointer;
}

.mx_RoomHeader_avatarPicker_edit > input {
    display: none;
}

.mx_RoomHeader_button {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;

    &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: $roomheader-button-color;
        mask-repeat: no-repeat;
        mask-size: contain;
    }
}

.mx_RoomHeader_settingsButton::before {
    mask-image: url('$(res)/img/feather-customised/settings.svg');
}

.mx_RoomHeader_forgetButton::before {
    mask-image: url('$(res)/img/leave.svg');
    width: 26px;
}

.mx_RoomHeader_searchButton::before {
    mask-image: url('$(res)/img/feather-customised/search.svg');
}

.mx_RoomHeader_shareButton::before {
    mask-image: url('$(res)/img/feather-customised/share.svg');
}

.mx_RoomHeader_manageIntegsButton::before {
    mask-image: url('$(res)/img/feather-customised/grid.svg');
}

.mx_RoomHeader_showPanel {
    height: 16px;
}

.mx_RoomHeader_voipButton {
    display: table-cell;
}

.mx_RoomHeader_voipButtons {
    margin-top: 18px;
}

.mx_RoomHeader_pinnedButton::before {
    mask-image: url('$(res)/img/icons-pin.svg');
}

.mx_RoomHeader_pinsIndicator {
    position: absolute;
    right: 0;
    bottom: 4px;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: $pinned-color;
}

.mx_RoomHeader_pinsIndicatorUnread {
    background-color: $pinned-unread-color;
}

@media only screen and (max-width: 480px) {
    .mx_RoomHeader_wrapper {
        padding: 0;
    }
    .mx_RoomHeader {
        overflow: hidden;
    }
}
