/*
Copyright 2015, 2016 OpenMarket Ltd

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

/* This has got to be the most fragile piece of CSS ever written.
   But empirically it works on Chrome/FF/Safari
 */

.mx_ImageView {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.mx_ImageView_lhs {
    order: 1;
    flex: 1 1 10%;
    min-width: 60px;
    // background-color: #080;
    // height: 20px;
}

.mx_ImageView_content {
    order: 2;
    /* min-width hack needed for FF */
    min-width: 0px;
    height: 90%;
    flex: 15 15 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mx_ImageView_content img {
    max-width: 100%;
    /* XXX: max-height interacts badly with flex on Chrome and doesn't relayout properly until you refresh */
    max-height: 100%;
    /* object-fit hack needed for Chrome due to Chrome not re-laying-out until you refresh */
    object-fit: contain;
    /* background-image: url('$(res)/img/trans.png'); */
    pointer-events: all;
}

.mx_ImageView_labelWrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    overflow: auto;
    pointer-events: all;
}

.mx_ImageView_label {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100%;
    max-width: 240px;
    color: $lightbox-fg-color;
}

.mx_ImageView_cancel {
    position: absolute;
    // hack for mx_Dialog having a top padding of 40px
    top: 40px;
    right: 0px;
    padding-top: 35px;
    padding-right: 35px;
    cursor: pointer;
}

.mx_ImageView_rotateClockwise {
    position: absolute;
    top: 40px;
    right: 70px;
    padding-top: 35px;
    cursor: pointer;
}

.mx_ImageView_rotateCounterClockwise {
    position: absolute;
    top: 40px;
    right: 105px;
    padding-top: 35px;
    cursor: pointer;
}

.mx_ImageView_name {
    font-size: $font-18px;
    margin-bottom: 6px;
    word-wrap: break-word;
}

.mx_ImageView_metadata {
    font-size: $font-15px;
    opacity: 0.5;
}

.mx_ImageView_download {
    display: table;
    margin-top: 24px;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: $lightbox-bg-color;
    font-size: $font-14px;
    padding: 9px;
    border: 1px solid $lightbox-border-color;
}

.mx_ImageView_size {
    font-size: $font-11px;
}

.mx_ImageView_link {
    color: $lightbox-fg-color !important;
    text-decoration: none !important;
}

.mx_ImageView_button {
    font-size: $font-15px;
    opacity: 0.5;
    margin-top: 18px;
    cursor: pointer;
}

.mx_ImageView_shim {
    height: 30px;
}

.mx_ImageView_rhs {
    order: 3;
    flex: 1 1 10%;
    min-width: 300px;
    // background-color: #800;
    // height: 20px;
}

.nv_ImageView {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    padding: 70px 0 35px 0;

    &_btnGroup {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 35px;
        pointer-events: auto;
        .mx_AccessibleButton:not(:last-child) {
            margin-right: 20px;
        }
    }

    &_imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin-bottom: 35px;
        overflow: hidden;
        .mainImage {
            min-height: 200px;
            max-height: calc(100vh - 240px);
            max-width: 100%;
            object-fit: contain;
            cursor: pointer;
            pointer-events: auto;
        }
    }

    &_meta {
        display: flex;
        justify-content: space-around;
        margin-top: auto;
    }

    &_meta_rightCol {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: auto;
    }

    &_meta_rightCol {
        pointer-events: auto;
    }

    .mx_AccessibleButton {
        cursor: pointer;
    }

    &_download {
        display: table;
        border-radius: 5px;
        background-color: $lightbox-bg-color;
        font-size: 14px;
        padding: 9px;
        border: 1px solid $lightbox-border-color;
    }
}
